.lang {
  width: 30px;
  height: 30px;
}

.lang:hover {
  opacity: 0.7;
  cursor: pointer;
}

.lang:active {
  padding: 1px;
}

.map {
  height: 300px;
}

.selected {
  font-weight: bold;
  text-decoration: underline;
}

.carousel {
  text-align: center;
}