.main-pilt {
  width: 200px;
  height: 100px;
}

.main-pilt:hover {
  opacity: 0.7;
}

.nupp {
  border-radius: 10px;
}

.nupp:hover {
  font-weight: bold;
}

.main-pilt, .nupp {
  cursor: pointer;
}

.aktiivne {
  border: 1px solid green;
  color: green;
  background-color: rgb(243, 255, 243);
}

.mittaktiivne {
  border: 1px solid red;
  color: red;
  background-color: rgb(255, 244, 244);
}